
/*html {
    background: center center fixed;
    background-size: cover;
}*/
/*
body {
    background-repeat: no-repeat;
    background-size:cover

}

.title_index {
    color:red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif

}

.footer {
    padding-left:450px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif

}

.fui-settings-16 muted{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.fa  {
    color: black;
    text:black;

}

h1 {
    color: black;
}

p {
    color: black
}

nav {
-moz-text-decoration-color: black;
}

text {
    color: black;
}

a {
    color:black;
}*/

h1 {
    color: black;
}
a {
    color:black;
}

