body {
    
}

.title_index {
    color:red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif

}

.footer {
    padding-left:450px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif

}

.fui-settings-16 muted{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

